body {
    background-color: #9b9b92a2;
}

#gameName {
    color: #4c6ebb;
}

#canvas {
    width: 100%;
    background-color: black;
}

#instructionName {
    color: rgb(158, 109, 37);
}

#tipName {
    color: rgb(26, 178, 23);
}
